.c-tasks {
  margin-top: 50px;
  width: 100%;
}

.c-tasks .tasks {
  display: flex;
  border-bottom: 1px solid #000;
}

.c-tasks .completed {
  text-decoration-line: line-through;
  color: gray;
}

.c-tasks .delete {
  color: red;
  display: none;
}

.delete:hover,
.tasks:hover + .delete {
  display: inline-block;
  position: relative;
  cursor: pointer;
  top: -40px;
  left: 45%;
}
